.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background: none;
  border: 0;
  padding: 0;
  margin: 10px 0 0 0;
}
button:hover {
  cursor: pointer;
}

h2 {
  margin: 0;
}
ul {
  margin: 0;
  list-style: none;
}
ul li.stopsLabel {
  margin: 10px 0 0 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
